
.main-holder {
   margin-top: 10px;
   background: #cceeff;
}

.content-holder{
  display: flex;
  flex-direction: column;
}

.info-holder{
  width:100%;
  height:200px;
  text-align:center;
  border-width:thin;
  border-color:blue;
  border-style:groove;
}

.row{
   padding-top: 75px;
   padding-bottom: 75px;
   height: 500px;
}
